.imgbg{
	position: fixed;
	z-index: 2;
	background-image: url(../images/desk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.imgfilter{
	position: fixed;
	z-index: 3;
	background: rgba(0, 0, 0, 0.85);
}
.imgbg,.imgfilter{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
main{
	position: relative;
	z-index: 10;
	padding-top: 28vh;
}
.innerhome h1{
	text-align: center;
	margin-bottom: 6vh;
	z-index: 10;
	position: relative;
	font-family: "gotham";
	font-size: 50px;
	color: #f3f4f6;
}
form{
	display: flex;
	max-width: 550px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.65);
	padding: 30px;
	border-radius: 5px;
}

.fields{
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}
.fields,.texthold{
	width: 50%;
}
.fields input,.texthold textarea{
	margin: 10px 0;
	padding: 10px;
	background: transparent;
	border: 0;
	border-bottom: 1.5px solid #575df0;
	outline: none;
	color: #f3f4f6;
}
.texthold textarea{
	height: 150px;
	width: 100%;
}
.sendbutton{
	background: linear-gradient(125deg,#575df0 0%,#ab6bff 100%);
	color: #f3f4f6;
	cursor: pointer;
	text-align: center;
	padding: 25px 40px;
	border-radius: 8px;
	font-family: "Montserrat2";
	font-weight: 900;
	text-transform: uppercase;
	-webkit-user-select: none;
}
textarea::-webkit-scrollbar {
	display: none;
}


@media screen and (max-width: 768px){
	main{
		padding-top: 27vh;
	}
	form{
		flex-direction: column;
	}
	.texthold textarea{
		height: 125px;
	}
	.fields ,.texthold,textarea{
		width: 100%;
	}
}