.contentmotiv{
	color: #f3f4f6;
	font-style: none;
	padding-top: 90px;
}
.contentmotiv h3,.contentmotiv h4{
	font-family: "albra";
	font-weight: 300;
	margin: 0 2vw;
}
#gauche{
	float: left;
	margin: 35px 0 35px 2vw;
}
#droite{
	float: right;
	margin: 35px 2vw 35px;
}
.lettre{
	margin: 0 5vw 0 5vw;
	text-align: left;
}
.lettre p{
	line-height: 1.58;
	letter-spacing: -.008em;
	font-family: "calibri";
	font-weight: 300;
}
a[href="lmotiv.html"]{
	background: linear-gradient(to left, #fc6767, #ec008c);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
         0 0 50px #eeeeee20,            /* mid blanc */
        -10px 0 30px #ec008c20,        /* gauche */
         10px 0 30px #fc676720;         /* droite */
	font-weight: bold;
}