.home{
	font-size: 65px;
	font-weight: 100;
	line-height: 65px;
	font-family: 'gotham', sans-serif;
	color: #f3f4f6;
}
.home h1{
	text-align: center;
	padding-top: 16vh;
	margin-bottom: 6vh;
	z-index: 10;
	position: relative;
}

.afterhome{
	position: relative;
	z-index: 10;
}

.accueil{
	color: #000001;
	padding-top: 2vh;
	position: relative;
	font-family: "open sans",sans-serif;
	padding-bottom: 50px;
}
.accueil,.shape{
	position: relative;
	background-color: #f3f4f6;
	top: 2vh;
}
.accueil h1{
	font-weight: 700;
	font-size: 28px;
	line-height: 44.8px;
	margin-bottom: 40px;
	text-align: center;
	font-family: "albra",sans-serif;
	letter-spacing: 1.3px;
}


.suite{
	background: #f3f4f6;
	padding: 1%;
	position: relative;
	text-align: center;
	height: 40vh;
}

.suite a{
	color: #f3f4f6;
	background: linear-gradient(125deg,#575df0 0%,#ab6bff 100%);
	padding: 25px 40px;
	margin-top: 100px;
	border-radius: 8px;
	font-family: "Montserrat2";
	font-weight: 900;
	transition: all 0.3s ease-in;
}
.suite a:active{
	background: linear-gradient(48deg,#ab6bff 0%,#575df0 100%);
	filter: brightness(85%);
}

a[href="profil.html"]{
	background: linear-gradient(to left, #fc6767, #ec008c);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
         0 0 50px #eeeeee20,            /* mid blanc */
        -10px 0 30px #ec008c20,        /* gauche */
         10px 0 30px #fc676720;         /* droite */
	font-weight: 900;
}



/*Sites utiles
- Exemple app SIO: https://www.freshome.fr/documentations.html
- Projet voiture:
- Projet banque:
- Site purple:
- CV: https://www.freshome.fr/files/cv.pdf
- Train flex: https://flexboxfroggy.com/#fr
*/
