.home {
    font-size: 65px;
    font-weight: 100;
    line-height: 65px;
    font-family: 'gotham', sans-serif;
    color: #f3f4f6;
}

.home h1 {
    text-align: center;
    padding-top: 16vh;
    margin-bottom: 6vh;
    z-index: 10;
    position: relative;
}

.afterhome {
    position: relative;
}


.accueil {
    color: #000001;
    padding-top: 2vh;
    position: relative;
    font-family: "open sans", sans-serif;
    padding-bottom: 50px;
}

.accueil, .shape {
    position: relative;
    background-color: #f3f4f6;
    top: 2vh;
}

.accueil h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "albra", sans-serif;
    letter-spacing: 1.3px;
}


.suite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f3f4f6;
}

.card_image#img1 {
    background: url("../images/bnp.jpg");
    background-size: cover;
}

.card_image#img2 {
    background: url("../images/Graphiplast.png");
    background-size: cover;
}

.modal-competences {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .2s;
    z-index: 9999 !important;
    overflow: hidden;
}

.modal-competences:target {
    visibility: visible;
    opacity: 1;
    z-index: 9999 !important;
}

.modal-content-competences {
    border-radius: 5px;
    position: relative;
    max-width: 825px;
    background: #fff;
    padding: 1em 1em;
    z-index: 9999 !important;
    font-family: 'gotham', sans-serif;
}


.modal-competences-close {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    color: #585858;
    text-decoration: none;
    transition: all .2s;
    font-size: 2em;
    z-index: 900;
    cursor: auto;
}

.modal-content-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    transition: all .2s;
    font-size: 2em;
    z-index: 900;
}

.modal-content-close:hover {
    color: #757575;
    transition: all .2s;
}

.llbn-modal-title {
    color: #18181f;
    font-size: 1.5em;
    text-align: center;
    font-family: "Montserrat2", sans-serif;
}

.llbn-modal-text {
    margin: auto;
    padding: 2em;
    text-align: justify;
    color: #757575;
    line-height: 2;
    font-size: 13px;
}

.llbn-modal-icon {
    font-size: 10em;
    color: #2c2e43;
}

.llbn-modal-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.llbn-modal-buttons a{
    background: linear-gradient(100deg,#575df0 0%,#ab6bff 100%);
    padding: 15px;
    color: #f3f4f6;
    transition: background 0.5s ease-in-out;
    font-family: "Montserrat2", sans-serif;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media all and (max-width: 1185px) {
    .home h1 {
        font-size: 77px;
    }
}


a[href="stage.html"] {
    background: linear-gradient(to left, #fc6767, #ec008c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 50px #eeeeee20, /* mid blanc */ -10px 0 30px #ec008c20, /* gauche */ 10px 0 30px #fc676720; /* droite */
    font-weight: bold;
}
