.home{
	font-size: 65px;
	font-weight: 100;
	line-height: 65px;
	font-family: 'gotham', sans-serif;
	color: #f3f4f6;
}
.home h1{
	text-align: center;
	padding-top: 16vh;
	margin-bottom: 6vh;
	z-index: 10;
	position: relative;
}

.afterhome{
	position: relative;
	z-index: 10;
}

.accueil{
	color: #000001;
	padding-top: 2vh;
	position: relative;
	font-family: "open sans",sans-serif;
    padding-bottom: 50px;
    height: 60vh;
}
.accueil,.shape{
	position: relative;
	background-color: #f3f4f6;
	top: 2vh;
}
.accueil h1{
	font-weight: 700;
	font-size: 28px;
	line-height: 44.8px;
	margin-bottom: 40px;
	text-align: center;
	font-family: "albra",sans-serif;
	letter-spacing: 1.3px;
}

.accueil div{
	font-size: 16px;
	line-height: 25.6px;
	font-weight: 400;
	margin: 0 15vw 0 15vw;
	text-align: center;
	font-weight: 700;
	font-family: "montserrat2",sans-serif;
}

a[href="veille.html"]{
	background: linear-gradient(to left, #fc6767, #ec008c);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
         0 0 50px #eeeeee20,            /* mid blanc */
        -10px 0 30px #ec008c20,        /* gauche */
         10px 0 30px #fc676720;         /* droite */
	font-weight: bold;
}
