html, body{
	color: #f3f4f6;
}

.imgbg{
	position: fixed;
	z-index: 2;
	background-image: url(../images/desk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.imgfilter{
	position: fixed;
	z-index: 3;
	background: rgba(0, 0, 0, 0.85);
}
.imgbg,.imgfilter{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
main{
	position: relative;
	z-index: 3;
}
h2{
	padding-left: 35px;
	padding-top: 125px;
	font-family: "albra",sans-serif;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 1.2px;
}
h3{
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	font-family: 'gotham', sans-serif;
	text-transform: uppercase;
	margin: 0 20vw 0 20vw;
	background: linear-gradient(to left, #fc6767, #ec008c);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow:
         0 0 50px #eeeeee25,            /* mid blanc */
        -10px 0 30px #ec008c25,        /* gauche */
		 10px 0 30px #fc676725;         /* droite */
}
b{
	font-family: 'gotham', sans-serif;
	font-size: 18px;
}
h2,h3{
	text-align: center;
	line-height: 65px;
}
main p,i{
	font-size: 15px;
	font-family: "Montserrat2";
	font-weight: 700;
}
main ul li{
	padding-left: 3rem;
	list-style-type: none;
	margin-top: 25px;
	margin-left: 35px;
	margin-bottom: 25px;
	font-family: "Montserrat2";
	font-weight: 700;
}


.interets li{
	border-left: 1px solid;
	padding-left: 15px;
	margin-top: 1.4vh;
	border-color: #747474;
	list-style-type: none;
}
.interets{
	display: flex;
	justify-content: center;
	margin-left: -5vw;
}


.registercv{
	margin: 4vh;
	text-align: center;
}
.registercv a{
	font-size: 18px;
	font-weight: 700;
	font-family: "Montserrat2";
	padding: 22px;
	transition: 0.2s ease-in;
	color: #f3f4f6;
	border: 2px solid #f3f4f6;
	border-radius: 5px;
}
.registercv a:hover{
	color: #18181f;
	background-color: #f3f4f6;
}
.registercv a:active{
	text-shadow: 0 20px 75px #eeeeee;
}

#infoleft,#inforight{
	margin-top: 25px 0 25px 0;
}
#infoleft{
	float: left;
	margin-left: 40px;
}
#inforight{
	float: right;
	margin-right: 40px;
}

a[href="cv.html"]{
	background: linear-gradient(to left, #fc6767, #ec008c);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
         0 0 50px #eeeeee20,            /* mid blanc */
        -10px 0 30px #ec008c20,        /* gauche */
         10px 0 30px #fc676720;         /* droite */
	font-weight: bold;
}
